[submodule "lib/pico-ssd1306"]
	path = lib/pico-ssd1306
	url = https://github.com/daschr/pico-ssd1306.git
[submodule "lib/usb_midi_host"]
	path = lib/usb_midi_host
	url = https://github.com/rppicomidi/usb_midi_host.git
